extends default

append javascript
    script.
        $(document).ready(function () {
            $('#delete_button').on('click', function () {
                $.post('/bhajan/!{bhajan.bhajan_id}', {_method: 'delete'}, function (response) {
                    window.location.replace(response.location);
                });
            });
        });

block content
    form(action='/edit', method='post')
        .row: .col-lg-12
            input(type='hidden', name='_method', value='put')
            input(type='hidden', name='updatedBy', value='#{username}')
            input(type='hidden', name='bhajan_id' value='#{bhajan.bhajan_id}')
            .form-group
                label Title
                input.col-lg-12.form-control(type='text', name='title', value='#{bhajan.title}')
            .form-group
                label Lyrics
                textarea.col-lg-12.form-control(type='text', rows='10', name='lyrics') !{bhajan.lyrics}
            unless bhajan.language === 'english'
                .form-group
                    label Translation
                    textarea.col-lg-12.form-control(type='text', rows='5', name='translation') !{bhajan.translation}
            .checkbox: label
                | Approved
                input(type='checkbox' value='true', checked=(true === bhajan.approved ? 'checked' : undefined) name='approved')
        .row.spacer: .col-lg-12
            input.btn.btn-danger.pull-left(type='submit', data-toggle='modal', data-target='#delete_modal' value='Delete')
            input.btn.btn-primary.pull-right(type='submit', value='Save')

block modal
    .modal.fade#delete_modal(tabindex='-1', role='dialog', aria-hidden='true', aria-labelledby='label')
        .modal-dialog: .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4.modal-title#label Delete Bhajan
            .modal-body
                p Are you sure you want to delete this bhajan? This cannot be undone.
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                button.btn.btn-danger#delete_button(type='submit') Delete


