extends default

block content
    h2 #{result.length} results found for '#{search}'
    hr
    if result.length > 0
        table.table.table-hover
            thead
                th Title
                th.hidden-xs Language
            tbody
                for bhajan in result
                    tr
                        td: a(href='/bhajan/#{bhajan.bhajan_id}') #{bhajan.title}
                        td.hidden-xs= bhajan.language
    p.text-center.text-muted.small
        | Didn't find the bhajan you're looking for? Help grow the database by
        a(href='/create')  submitting a bhajan
        |!
